.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.react-photo-album--image {
  border-radius: 4px;
}

body {
  max-width: 400px;
  margin: 0 auto;
}

html,
body,
p, 
h2,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}